.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/headerpic.jpeg') no-repeat;
    /* background: url('/src/assets/nv8.jpg') no-repeat; */
    /* background-image: url("../../assets/nonveg3.jfif"); */
    background-size: cover;
    position: relative;
    border-radius: 10px;
}

.header-contents{
    position: absolute;
    /* display: flex; */
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-items: start; */
    gap:1.5vw;
    max-width: 50%;
    bottom: 20%;
    left: 20vw;
    animation: fadeIn 3s;
}

.header-contents h2{
    font-weight: 500;
    color: black;
    
    font-size: max(3vw,  22px);
}

.header-contents p{
    font-size: 1vw;
}
.header-contents button{
    background: transparent;
    border: 1px solid black;
    font-weight: 500;
    padding: 1vw 2.3vw;
    font-size: max(1vw , 13px);
    border-radius: 50px;
}

.header-contents button:hover{
    background-color: rgb(164, 226, 223);
}

@media (max-width:1050px){
    
    .header-contents{
        max-width: 45%;
    }

}

@media (max-width:750px){
    
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}